/UIstereo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/UIstereo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UIstereo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UIstereo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UIstereo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UIstereo/obj/Debug/UIStereo.csproj.FileListAbsolute.txt
/UIstereo/obj/Debug/UIStereo.csproj.GenerateResource.Cache
/UIstereo/obj/Debug/UIStereo.csprojResolveAssemblyReference.cache
/UIstereo/obj/Debug/UIStereo.exe
/UIstereo/obj/Debug/UIStereo.pdb
/UIstereo/obj/Debug/UIWindow.Properties.Resources.resources
/UIstereo/obj/Debug/UIWindow.UIWindow.resources
/bin/Debug/stereo.exe
/bin/Debug/stereo.ilk
/bin/Debug/stereo.pdb
/bin/UIStereo.exe
/bin/UIStereo.exe.config
/bin/UIStereo.pdb
/ipch/stereo-847ad843/stereo-f184e7bc.ipch
/stereo.opensdf
/stereo.sdf
/stereo.v12.suo
/stereo/x64/Debug/assetRenderer.obj
/stereo/x64/Debug/eventMap.obj
/stereo/x64/Debug/mLibSource.obj
/stereo/x64/Debug/main.obj
/stereo/x64/Debug/modeView2D.obj
/stereo/x64/Debug/modeView3D.obj
/stereo/x64/Debug/stereo.log
/stereo/x64/Debug/stereo.pch
/stereo/x64/Debug/stereo.tlog/CL.read.1.tlog
/stereo/x64/Debug/stereo.tlog/CL.write.1.tlog
/stereo/x64/Debug/stereo.tlog/cl.command.1.tlog
/stereo/x64/Debug/stereo.tlog/link.command.1.tlog
/stereo/x64/Debug/stereo.tlog/link.read.1.tlog
/stereo/x64/Debug/stereo.tlog/link.write.1.tlog
/stereo/x64/Debug/stereo.tlog/stereo.lastbuildstate
/stereo/x64/Debug/vc120.idb
/stereo/x64/Debug/vc120.pdb
/stereo/x64/Debug/vizzer.obj
/stereo/x64/Debug/stereoFrame.obj
